<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<%= link_to 'Edit', edit_post_path(@post), class:'btn btn-outline-primary' %> |
<%= link_to 'Back', posts_path, class:'btn btn-outline-secondary' %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>